@model IEnumerable<BeautyCenter.Models.Customer.CustomerVm>


<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Müşteriler
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a asp-controller="Customer" asp-action="Customer_Add" id="newCustomer" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" data-toggle="modal" data-target="#m_modal_general">
                        <span>
                            <i class="la la-plus"></i>
                            <span>Yeni Müşteri</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <!--begin: Datatable -->
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th>Kayıt Numarası</th>
                    <th>Kayıt Tarihi</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Cep Telefonu</th>
                    <th>Email</th>
                    <th>İşlemler</th>

                </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#m_table_1').dataTable({
            "ajax": {
                "url": "/Customer/Customers_Read/",
                "dataSrc": ""
            },
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Turkish.json"
            },
            "columns": [
                { "data": "Id" },
                { "data": "RegisteredDate" },
                { "data": "Firstname" },
                { "data": "Lastname" },
                { "data": "Email" },
                { "data": "Telephone" },
                {
                    "data": null,
                    "defaultContent": `      

                       <a href="#" id="CustomerDetail" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Görüntüle">
                          <i class="la la-search"></i>
                        </a>\
                        <a href="#" id="CustomerEdit" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" title="Güncelle">
                          <i class="la la-edit"></i>
                        </a>\
	                    <a href="#" id="CustomerDelete" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Sil">
							<i class="la la-trash"></i>
						</a>
`
                }
            ]
        });
    });


    function showAlert(e) {
        swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
            heightAuto: false
        }).then((result) => {
            if (result.value) {
                swal({
                    confirmButtonText: 'Tamam',
                    title:'Silindi!',
                    heightAuto: false,
                    type:'success'
                })
            }
        })
    }

    function customerEdit(e) {
        e.preventDefault();
        debugger;
        var $buttonClicked = $(this);
        $.ajax({
            type: "GET",
            url: "/Customer/Customer_Update",
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $('#generalModal').html(data);
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
    }


        $("#CustomerDelete").click(function (e) {

            alert("Delete Tıklandı");



            swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                heightAuto: false
            }).then((result) => {
                if (result.value) {
                    swal({
                        confirmButtonText: 'Tamam',
                        title: 'Silindi!',
                        heightAuto: false,
                        type: 'success'
                    })
                }
            })
        });




    $(function () {
        $("#updateCommand").click(function (e) {
            var $buttonClicked = $(this);
            debugger;
            $.ajax({
                type: "GET",
                url: "/Customer/Customer_Update",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#generalModal').html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
    });

    $(function () {
        $("#newCustomer").click(function () {
            debugger;
            var $buttonClicked = $(this);
            $.ajax({
                type: "GET",
                url: "/Customer/Customer_Add",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#generalModal').html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
    });
</script>
