@model BeautyCenter.Models.Appointment.AddAppointmentVm 

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Yeni Randevu</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <ul class="nav nav-pills nav-fill" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#m_tabs_5_1" id="SavedCustomerTab">Kayıtlı Müşteri</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#m_tabs_5_2" id="NewCustomerTab">Yeni Müşteri</a>
        </li>
    </ul>

    <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="appointmentValidateAlertMessage">
        <div class="m-alert__icon">
            <i class="la la-warning"></i>
        </div>
        <div class="m-alert__text">
            Hay Aksi! Aşağıdaki bilgilerinden bazılarını doldurmayı unutmuş olmalısın.
        </div>
        <div class="m-alert__close">
            <button type="button" class="close" data-close="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="m_tabs_5_1" role="tabpanel">

        </div>
        <div class="tab-pane" id="m_tabs_5_2" role="tabpanel">

        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
    <button id="SaveAppointment" type="button" class="btn btn-primary">Kaydet</button>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var activeTab = $(".nav-fill a.active");

        if (activeTab[0].id == 'SavedCustomerTab') {
            $.ajax({
                type: "GET",
                url: "/Appointment/Appointment_SavedCustomerTab",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#m_tabs_5_1').html(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        }

        if (activeTab[0].id == 'SavedCustomerTab') {
            $("#SaveAppointment").click(function () {
                $("#forSavedCustomer").submit();
            });
        }

    });

    $(function () {

        $('.nav-fill a').on('show.bs.tab', function (e) { 

            var alert = $('#appointmentValidateAlertMessage');
            alert.removeClass('m--hide').hide();

            if (e.target.id == 'NewCustomerTab') {
                $("#forSavedCustomer").data('validator').resetForm();

                $.ajax({
                    type: "GET",
                    url: "/Appointment/Appointment_NewCustomerTab",
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        $('#m_tabs_5_2').html(data);
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }
            
            if (e.target.id == 'SavedCustomerTab') {
                $("#forNewCustomer").data('validator').resetForm();

                $.ajax({
                    type: "GET",
                    url: "/Appointment/Appointment_SavedCustomerTab",
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        $('#m_tabs_5_1').html(data);
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }

            if (e.target.id == 'NewCustomerTab') {
                $("#SaveAppointment").click(function () {
                    $("#forNewCustomer").submit();
                });
            }
            if (e.target.id == 'SavedCustomerTab') {
                $("#SaveAppointment").click(function () {
                    $("#forSavedCustomer").submit();
                });
            }
        })
    });

</script>


