
<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Randevular
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <ul class="m-portlet__nav">
                <li class="m-portlet__nav-item">
                    <a asp-controller="Appointment" asp-action="Appointment_Add" id="newAppointment" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air" data-toggle="modal" data-target="#m_modal_4">
                        <span>
                            <i class="la la-plus"></i>
                            <span>Yeni Randevu</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-portlet__body">
        <div id="m_calendar"></div>
    </div>
</div>

<script type="text/javascript">


    $(function () {
        $("#newAppointment").click(function () {
            var $buttonClicked = $(this);
            $.ajax({
                type: "GET",
                url: "/Appointment/Appointment_Add",
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#generalModal').html(data);
                    onAdditionalData();
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
    });


    function onAdditionalData() {
        return {
            text: $("#customerAutoComplete").val()
        };
    }


</script>